<div class="topbar">

</div>
<div class="card" *ngFor="let item of shopArray" >
    <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">Phone Number: {{item.contactNo}}</p>
        <div class="card">
            <h3 class="text-heading">Products</h3>
            <div class="card single_product" style="width: 25rem;" *ngFor="let product of products">
                <img class="card-img-top" [src]="product.img" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text"><span class="text-info">Price</span> {{product.price}}</p>
                    <a (click)="addWishlist()" style="margin-right: 30px" [title]="'add to wishlist'"> <i class="fa fa-heart"></i></a>
                    <a (click)="addToCart()"> <i class="fa fa-shopping-cart" style="margin-right: 30px" [title]="'add to cart'"></i></a>
                    <a (click)="checkOut()"><i class="fa fa-check-square" [title]="'checkout the item'"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
