<form action="" [formGroup]="shopForm" >
    <div class="form-group">
        <h6 class="text-heading">update Shop</h6>
    </div>
    <div class="form-group">
        <label for="name" class="col-form-label">name</label>
        <input type="text" class="form-control" id="name"  name="newName" #newName>
    </div>

    <div *ngIf="shopForm.controls['newName'].invalid && (shopForm.controls['newName'].dirty || shopForm.controls['newName'].touched)" class="alert alert-danger">
        <div *ngIf="shopForm.controls['newName'].errors.required">
            Name is Required.
        </div>
    </div>

    <div class="form-group" *ngIf="dropDownList.length > 0">
        <ng-multiselect-dropdown
            [placeholder]="'select items'"
            formControlName="newItem"
            [data]="dropDownList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSetting"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemUnSelect($event)"
            (onDeSelectAll)="onUnselectAll($event)"
        >
        </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
        <label for="contact_no" class="col-form-label">Contact No.</label>
        <input type="text" class="form-control" id="contact_no" name="newContactNo" #newContactNo>
    </div>

    <div *ngIf="shopForm.controls['newContactNo'].invalid && (shopForm.controls['newContactNo'].dirty || shopForm.controls['newContactNo'].touched)" class="alert alert-danger">
        <div *ngIf="shopForm.controls['newContactNo'].errors.required">
            Contact Number is Required.
        </div>
    </div>



    <div class="form-group">
        <button class="btn btn-primary" type = "submit" (click)="onSubmit(newName.value, newItem, newContactNo.value)">Submit</button>
    </div>

    <div class="form-group">
        <ng-flash-message></ng-flash-message>
    </div>
</form>
