<div class="review_box">
    <h4>Add a Review</h4>
    <p>Your Rating:</p>
    <star-rating value="5" checkedcolor="yellow" uncheckedcolor="black" size="18px"    readonly="false" (rate)="onRate($event)"></star-rating>
    <form class="row contact_form"  method="post" [formGroup] = "reviewForm">
        <div class="col-md-12">
            <div class="form-group">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email Address" #email>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="number" formControlName="phone" placeholder="Phone Number" #phone>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                      <textarea class="form-control" name="message" formControlName="message" id="message" rows="1"
                                placeholder="Review" #message></textarea>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button type="submit" value="submit"
                    class="btn submit_btn"
            (click)="addComment(email.value, phone.value, message.value)">Submit Now</button>
        </div>

        <div class="col-md-12 text-right">
            <ng-flash-message></ng-flash-message>
        </div>

    </form>
</div>
