<div class="container">
    <div class="sidebar-brand" style="margin-top: 20%">
        <ul class="list-group">
            <li class="list-group-item-primary">
                <a [routerLink]="admin/add-product">Products</a>
            </li>
            <li class="list-group-item-primary">
                <a [routerLink]="admin/mall" >Malls</a>
            </li>
            <li class="list-group-item-primary">
                <a href="">Shops</a>
            </li>
            <li class="list-group-item-primary">
                <a href="">users</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
