<header class="header_area">
    <div class="top_menu row m0">
        <div class="container-fluid">
            <div class="float-left">
                <p>Call Us: +251936972697</p>
            </div>
            <div class="float-right">
                <ul class="right_side">
                    <li>
                        <a routerLink="/login">
                            Login/Register
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            My Account
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a (click)="onLogoutClick()" href="/home" *ngIf="userService.isLoggedIn()">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div
                    class="collapse navbar-collapse offset"
                    id="navbarSupportedContent"
                >
                    <div class="row w-100">
                        <div class="col-lg-7 pr-0">
                            <ul class="nav navbar-nav center_nav pull-right">
                                <li class="nav-item active">
                                    <img src="../../../assets/homepage/img/logo.png" alt="">
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a
                                        href="#"
                                        class="nav-link dropdown-toggle"
                                        data-toggle="dropdown"
                                        role="button"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        >Shop</a
                                    >
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a
                                                class="nav-link"
                                                routerLink="/product_category"
                                                >Shop Category</a
                                            >
                                        </li>

                                        <li class="nav-item">
                                            <a
                                                class="nav-link"
                                                routerLink="/product_detail"
                                                >Product Details</a
                                            >
                                        </li>

                                        <li class="nav-item">
                                            <a
                                                class="nav-link"
                                                routerLink="/checkout"
                                                >Checkout</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                class="nav-link"
                                                routerLink="/wishlist"
                                            >Wishlists</a
                                            >
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/cart"
                                                >Shopping Cart</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/special-order"
                                            >Special Order</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                class="nav-link"
                                                href="/confirmation"
                                                >Confirmation</a
                                            >
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item submenu dropdown">
                                    <a
                                        href="#"
                                        class="nav-link dropdown-toggle"
                                        data-toggle="dropdown"
                                        role="button"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >Mall</a
                                    >
                                    <ul class="dropdown-menu">
                                        <li class="nav-item" *ngFor="let shop of shops">
                                            <a class="nav-link"  (click)="findMalls(shop._id)"
                                            >{{shop.name}}</a
                                            >
                                        </li>

                                    </ul>
                                </li>

                                <li class="nav-item submenu dropdown">
                                    <a
                                        href="#"
                                        class="nav-link dropdown-toggle"
                                        data-toggle="dropdown"
                                        role="button"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        >Pages</a
                                    >
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/login"
                                                >Login</a
                                            >
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#"
                                                >Tracking</a
                                            >
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#"
                                                >Elements</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/contact"
                                        >Contact</a
                                    >
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-5">
                            <ul
                                class="nav navbar-nav navbar-right right_nav pull-right"
                            >
                                <hr />
                                <li class="nav-item">
                                    <a href="#" class="icons">
                                        <i
                                            class="fa fa-search"
                                            aria-hidden="true"
                                        ></i>
                                    </a>
                                </li>

                                <hr />

                                <li class="nav-item">
                                    <a href="#" class="icons">
                                        <i
                                            class="fa fa-user"
                                            aria-hidden="true"
                                        ></i>
                                    </a>
                                </li>

                                <hr />

                                <li class="nav-item">
                                    <a routerLink="/wishlist" class="icons">
                                        <i
                                            class="fa fa-heart"
                                            aria-hidden="true"
                                        ><span style="color: #1da1f2">{{wishlists}}</span></i>
                                    </a>
                                </li>

                                <hr />

                                <li class="nav-item">
                                    <a routerLink="/cart" class="icons">
                                        <i class="fa fa-shopping-cart"><span style="color: #1da1f2">{{carts}}</span></i>">
                                    </a>
                                </li>

                                <hr />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <ng-flash-message></ng-flash-message>
            </div>
        </nav>
    </div>
</header>
