<form action="" class="add-product">
    <h3 class="page header">Add Product</h3>
    <div class="form-group">
        <label for="name" class="col-form-label-sm">Enter a name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter a name" #name />
    </div>
    <div class="form-group">
        <label for="price" class="col-form-label-sm">Enter a Price</label>
        <input type="text" class="form-control" id="price" placeholder="Enter a price" #price />
    </div>

    <div class="form-group">
        <label for="photo" class="col-form-label-sm">Enter an image</label>
        <input type="file" id="photo" name="photo" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="form-group">
        <button class="btn btn-success" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems()">Upload</button>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
