<form action="" [formGroup]="updateBalanceForm">
    <h3 class="text-heading">Update Customer Balance</h3>
    <div class="form-group">
        <label for="username" class="col-form-label">Enter Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="enter username" #username>
    </div>

    <div *ngIf="updateBalanceForm.controls['username'].invalid && (updateBalanceForm.controls['username'].dirty || updateBalanceForm.controls['username'].touched)" class="alert alert-danger">
        <div *ngIf="updateBalanceForm.controls['username'].errors.required">
            Username is Required.
        </div>
    </div>

    <div class="form-group">
        <label for="balance" class="col-form-label">Enter New balance</label>
        <input type="text" class="form-control" id="balance" formControlName="balance" placeholder="enter Balance" #balance>
    </div>

    <div *ngIf="updateBalanceForm.controls['balance'].invalid && (updateBalanceForm.controls['balance'].dirty || updateBalanceForm.controls['balance'].touched)" class="alert alert-danger">
        <div *ngIf="updateBalanceForm.controls['balance'].errors.required">
            New balance is Required.
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success" (click)="updateBalance(username.value, balance.value)">Update Balance</button>
    </div>

    <div class="form-group">
        <ng-flash-message></ng-flash-message>
    </div>
</form>
