<form action="" [formGroup]="updateMallForm">
    <div class="form-group">
        <h6 class="text-heading">Update Mall</h6>
    </div>

    <div class="form-group">
        <label for="name" class="col-form-label">name</label>
        <input type="text" class="form-control" formControlName="newName" id="name" #newName>
    </div>

    <div *ngIf="updateMallForm.controls['newName'].invalid && (updateMallForm.controls['newName'].dirty || updateMallForm.controls['newName'].touched)" class="alert alert-danger">
        <div *ngIf="updateMallForm.controls['newName'].hasError('required')">
            Name is required.
        </div>
    </div>

    <div class="form-group">
        <label for="address" class="col-form-label">Address</label>
        <input type="text" class="form-control" formControlName="newAddress" id="address" #newAddress>
    </div>

    <div *ngIf="updateMallForm.controls['newAddress'].invalid && (updateMallForm.controls['newAddress'].dirty || updateMallForm.controls['newAddress'].touched)" class="alert alert-danger">
        <div *ngIf="updateMallForm.controls['newAddress'].hasError('required')">
            Address is required.
        </div>
    </div>

    <div class="form-group">
        <label for="contact" class="col-form-label">Contact No.</label>
        <input type="text" class="form-control" formControlName="newContact" id="contact" #newContact>
    </div>

    <div *ngIf="updateMallForm.controls['newContact'].invalid && (updateMallForm.controls['newContact'].dirty || updateMallForm.controls['newContact'].touched)" class="alert alert-danger">
        <div *ngIf="updateMallForm.controls['newContact'].hasError('required')">
            Contact Number is required.
        </div>
    </div>
    <div class="form-group" *ngIf="dropDownList.length > 0">
        <ng-multiselect-dropdown
            [placeholder]="'select items'"
            formControlName="newShop"
            [data]="dropDownList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSetting"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemUnSelect($event)"
            (onDeSelectAll)="onUnselectAll($event)"
        >
        </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
        <label for="closing" class="col-form-label">Closing Hour</label>
        <input type="text" class="form-control" formControlName="newClosing" id="closing" #newClosing>
    </div>

    <div *ngIf="updateMallForm.controls['newClosing'].invalid && (updateMallForm.controls['newClosing'].dirty || updateMallForm.controls['newClosing'].touched)" class="alert alert-danger">
        <div *ngIf="updateMallForm.controls['newClosing'].hasError('required')">
            Closing Hour is required.
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type = "submit" [disabled]="updateMallForm.pristine || updateMallForm.invalid"
                (click)="updateMall(newName.value, newAddress.value, newContact.value, newItem, newClosing.value)">Submit</button>
    </div>

    <div class="form-group">
        <ng-flash-message></ng-flash-message>
    </div>
</form>
